p{
    background-color: red;
    color: white;
}
.box{
    background-color: blue;
    width: 1000px;
    height: 200px
}   
.nebox{
    background-color: wheat;
    width: 500px;
    height: 100px;
}
